.company-card {
  background: linear-gradient(135deg, #F9A825, #FDD835);
  color: #333;
}

.company-card .btn {
  background-color: rgba(0, 0, 0, 0.1);
  color: #333;
  /* Added more padding for a wider button look */
  padding: 12px 30px;
}

.company-card .btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}