.student-card {
  background: linear-gradient(135deg, #6B0F1A, #B91322);
}

.student-card .btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  /* Added more padding for a wider button look */
  padding: 12px 30px; 
}

.student-card .btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}