

#recommended-for-you-title {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 33px;
    font-weight: 600;
}

#recommended-status-section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
 
    
}

#recommended-for-you-section {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#top-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.left-cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    margin-right: 20px;
    
}

.image-section {
    height:200px;
    width: 300px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.information-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.title {
    font-size: 23px;
}

.sub-title {
    font-size: 17px;
    color: #FFD700;
}

.button-container {
    display: flex;
    
}

.internship-button {
    padding: 7px;
    background-color: #9B000A;
    color: white;
    align-self: center;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

#bottom-section {
    display: flex;
    align-items: center;

}
