* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 260px 1fr;
  background: #f6f6f6;
  min-height: 100vh;
  color: #333;
}

#student-dashboard-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #730000;
    overflow-y: auto;   
}

#student-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

#student-profile-image {
    height: 200px;
    width: 200px;
    border-radius: 60%;
    
}

#student-profile-name {
    color: white;
    font-size: 29px;
    font-weight: 500;
    margin-top: 15px;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

#sidebar-menu-button-dashboard {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px 20px;
    
}

#menu-texts-dashboard {
    color: #730000;
    font-size: 21px;
    font-weight: 300;
    margin-left: 10px;
}

.sidebar-menu-buttons {
    display: flex;
    align-items: center;
    color: #730000;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px 20px;
}

.sidebar-button-icons {
    height: 30px;
    width: 30px;
}

.menu-texts {
    color: white;
    font-size: 21px;
    font-weight: 300;
    margin-left: 10px;
}
