.student-card {
  background: linear-gradient(200deg, #9B000A, #720000);
}


.student-card .btn {
  background-color: #9B000A;
  color: #fff;
  /* Added more padding for a wider button look */
  padding: 20px 30px; 
  font-size: 20px;
}

.student-card .btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}