#main-section-2 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#companies-section {

  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;;
}

.companies-cards-holder {
  height: 45%;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.company-card {
  height: 90%;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.company-information {
  width: 80%;
  display: flex;
  align-items: center;
  background-color: #FFBD00;
}

.company-logo {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.company-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}