#header-section {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url("../Images/Backgrounds/white-hexagon-bg.jpg");
    /* background-image: url("../Images/Backgrounds/ethnic-pattern3-bg.jpg"); */
    background-size: cover;
    z-index: 2;
    background-attachment: fixed;
    background-position: center;
}

#navbar {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

#navbar-left {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#imglogo {
    height: 80%;
    margin-left: 10%;
    object-fit: cover;

}

#navbar-title {
    margin-left: 10px;
    font-size: 3rem;
    color: #990000;
}

#navbar-right {
    display: flex;
    width: 50%;
    justify-content: end;
}

#sign-in {
    font-size: 20px;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 10px 50px;
    border-radius: 18px;
    margin-right: 10%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

}


#sign-in:hover {
    background-color: #c99a00;
    transform: scale(1.05); 
}

#left-circle-yellow {
    position: absolute;
    height: 600px;
    width: 700px;
    background-color: #eabb00;
    border-bottom-right-radius: 1000px;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#find-career-section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


#find-your-career-left-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-family: 'Montserrat';
}

#get-hired-today {
    margin-left: 10%;
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

#hirenorian-info {
    margin-left: 10%;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}

#find-your-career-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

#find-your-career-button {
    margin-left: 10%;
    font-size: 2rem;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 5px 50px;
    border-radius: 18px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#find-your-career-button:hover {
    background-color: #c99a00; 
    transform: scale(1.05); 
}


#find-your-career-right-section {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#gradpic {
    height: 100%;
    z-index: 2;
}

#circle-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #730000;
}

#circle-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #a51a23;

}


.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease-out forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating {
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-12px); }
    100% { transform: translateY(0px); }
}

#navbar {
    transform: translateY(-40px);
    opacity: 0;
    animation: navDrop 0.7s ease forwards;
}

@keyframes navDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


