.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-section
{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #212529;
  
 
}

#footer-top-redbar
{
    height: 20%;
    background-color: #212529;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(31, 31, 31, 1));
    margin-bottom: 10px;

}

#footer-bottom-section
{
    display: flex;
    margin: 0;
}

#bottom-left
{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    
   
    
}

#footer-Hirenorian
{
    font-weight: 200;
    font-size: 45px;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 90px;
}

#footer-buttons
{
    display: flex;
    margin-left: 60px;
    
}

.icon2 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

#fb2 {
    height: 30px;
    width: 40px;
    margin-left: 30px;

}

#in2 {
    height: 30px;
    width: 30px;
    
}

#yt2 {
    height: 30px;
    width: 30px;
    
}

#ig2 {
    height: 50px;
    width: 50px;
    
}

#bottom-right
{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
   

}

.topics-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topic
{
    color: #eabb00;
    font-size: 20px;
}

.pages
{
    color: white;
    font-size: 20px;
}