.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    
    
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#navbar {
    height: 200px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

#navbar-left {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#imglogo {
    height: 80%;
    margin-left: 10%;
    object-fit: cover;

}

#navbar-title {
    margin-left: 10px;
    font-size: 3rem;
    color: #990000;
}

#navbar-right {
    display: flex;
    width: 50%;
    justify-content: end;
}

#sign-in {
    font-size: 20px;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 10px 50px;
    border-radius: 18px;
    margin-right: 10%;
    text-align: center;
}

#left-circle-yellow {
    position: absolute;
    height: 600px;
    width: 700px;
    background-color: #eabb00;
    border-bottom-right-radius: 1000px;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#find-career-section {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
}


#find-your-career-left-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-family: 'Montserrat';
}

#get-hired-today {
    margin-left: 10%;
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

#hirenorian-info {
    margin-left: 10%;
    font-size: 2rem;
}

#find-your-career-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

#find-your-career-button {
    margin-left: 10%;
    font-size: 2rem;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 5px 50px;
    border-radius: 18px;
    align-items: center;
    margin-top: 20px;
}

#find-your-career-right-section {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#gradpic {
    height: 100%;
    z-index: 2;
}


#circle-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #730000;
}

#circle-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #a51a23;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headline-section {
    display: flex;
    height: 100vh;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#headline-left-section {
    width: 50%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 40%, white 100%),
        url("../Images/dhvsu-bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#headline-right-section {
    width: 50%;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headline {
    font-size: 80px;
    color: #b50e0e;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
}

#sub-headline {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

#headline-info {
    font-size: 20px;
    text-align: center;
    color: #eabb00;
    margin-top: 50px;
}

#socmed-bar {
    width: 100vw;
    background-color: #454444;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#socmed-left-bar {
    display: flex;
}

#fb {
    height: 30px;
    width: 40px;
    margin-left: 30px;

}

#in {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

#yt {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

#ig {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}


#hirenoriantext {
    color: white;
    font-size: 12px;
    margin-right: 20px;
}

#whole-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    margin-left: 80px;
    margin-right: 80px;
}

#job-section {

    width: 100vw;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 50px;

}

.job {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.job-one-right {
    font-size: 45px;

}

.job-image {
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 30px;

}

.info {
    font-size: 26px;
    margin-top: 25px;
    text-align: left;
    justify-content: space-evenly;
}

#job-more {
    display: flex;
    justify-content: center;


}

#more-button {
    font-size: 25px;
    padding: 10px 70px;
    border-radius: 18px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

#employers-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    
}

#top-employers-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    

}


#top-employer {

    font-size: 60px;
    font-weight: 900;
    letter-spacing: 2px;

}

#discover {
    font-size: 22px;
    margin-top: 20px;
    color: #828282;
    letter-spacing: 1px;

}

.employer-container {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  
}


.employer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(252, 243, 243, 0.08);
    padding: 10px 30px;
    width: 500px;
    height: 650px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 80px;
    
}



#rank1 {
    position: absolute;
    top: -25px;
    left: -20px;
    background-color: #ffd700;
    color: #fff;

    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rank2 {
    position: absolute;
    top: -25px;
    left: -20px;
    background-color: #c0c0c0;
    color: #fff;

    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rank3 {
    position: absolute;
    top: -25px;
    left: -20px;
    background-color: #ce8946;
    color: #fff;

    font-size: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.employer-card img {
    width: 400px;
    height: 350px;
    align-self: center;
}


.employer-card h3 {
    font-size: 40px;
    color: #222;
    margin: 10px 0 5px;
}


.employer-card p {
    font-size: 30px;
    color: #777;
    margin-bottom: 25px;
}


.employer-card button {
    background-color: #f1c40f;
    border: none;
    color: #ffffff;
    padding: 20px 110px;
    border-radius: 6px;
    font-size: 23px;
    font-weight: 600;


}

#footer-section
{
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #212529;
  
 
}

#footer-top-redbar
{
    height: 20%;
    background-color: #212529;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.6), rgba(31, 31, 31, 1));
    margin-bottom: 10px;

}

#footer-bottom-section
{
    display: flex;
    margin: 0;
}

#bottom-left
{
    display: flex;
    flex-direction: column;
    width: 50%;
    
    
   
    
}

#footer-Hirenorian
{
    font-weight: 200;
    font-size: 45px;
    color: white;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 90px;
}

#footer-buttons
{
    display: flex;
    margin-left: 60px;
    
}

.icon2 {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 10px;
}

#fb2 {
    height: 30px;
    width: 40px;
    margin-left: 30px;

}

#in2 {
    height: 30px;
    width: 30px;
    
}

#yt2 {
    height: 30px;
    width: 30px;
    
}

#ig2 {
    height: 50px;
    width: 50px;
    
}

#bottom-right
{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
   

}

.topics-section
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.topic
{
    color: #eabb00;
    font-size: 20px;
}

.pages
{
    color: white;
    font-size: 20px;
}