#main-section-1
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url("../Images/Backgrounds/white-curvy-bg.webp");
}

#headline-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 80%;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#headline-section-top {
    display: flex;
    height: 92%;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#headline-left-section {
    width: 50%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 40%, white 100%),
        url("../Images/dhvsu-bg-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#headline-right-section {
    width: 50%;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headline {
    font-size: 80px;
    color: #b50e0e;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 0;
}

#sub-headline {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

#headline-info {
    font-size: 20px;
    text-align: center;
    color: #eabb00;
    margin-top: 50px;
}

#socmed-bar {
    width: 100%;
    height: 8%;
    background-color: #454444;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#socmed-left-bar {
    display: flex;
}

#fb {
    height: 30px;
    width: 40px;
    margin-left: 30px;

}

#in {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

#yt {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

#ig {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}


#hirenoriantext {
    color: white;
    font-size: 12px;
    margin-right: 20px;
}