.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Marcellus", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#navbar {
    height: 200px;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    overflow: hidden;
}

#navbar-left {
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: start;
    align-items: center;
}

#imglogo {
    height: 80%;
    margin-left: 10%;
    object-fit: cover;

}

#navbar-title {
    margin-left: 10px;
    font-size: 3rem;
    color: #990000;
}

#navbar-right {
    display: flex;
    width: 50%;
    justify-content: end;
}

#sign-in {
    font-size: 20px;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 10px 50px;
    border-radius: 18px;
    margin-right: 10%;
    text-align: center;
}

#left-circle-yellow {
    position: absolute;
    height: 600px;
    width: 700px;
    background-color: #eabb00;
    border-bottom-right-radius: 1000px;
    top: 0px;
    left: 0px;
    z-index: -1;
}

#find-career-section {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: space-between;
}


#find-your-career-left-section {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    font-family: 'Montserrat';
}

#get-hired-today {
    margin-left: 10%;
    font-size: 5rem;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

#hirenorian-info {
    margin-left: 10%;
    font-size: 2rem;
}

#find-your-career-div {
    width: 100%;
    display: flex;
    justify-content: start;
}

#find-your-career-button {
    margin-left: 10%;
    font-size: 2rem;
    color: white;
    background-color: #eabb00;
    border: none;
    padding: 5px 50px;
    border-radius: 18px;
    align-items: center;
    margin-top: 20px;
}

#find-your-career-right-section {
    height: 100%;
    width: 50%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#gradpic {
    height: 100%;
    z-index: 2;
}


#circle-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #730000;
}

#circle-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    background-color: #a51a23;

}

main
{
    display: flex;
    flex-direction:column;
    align-items: center;
}

#headline-section{
    display: flex;
    height: 720px;
    width: 1440px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

#headline-left-section {
    height: 100%;
    width: 50%;
    background-image:
        linear-gradient(to right, rgba(255, 255, 255, 0) 40%, white 100%),
        url("../Images/dhvsu-bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

#headline-right-section {
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headline {
    font-size: 80px;
    color: #b50e0e;
    font-weight: 300;
    letter-spacing: 0.5;
    margin: 0;
}

#sub-headline {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

#headline-info {
    font-size: 20px;
    text-align: center;
    color: #eabb00;
    margin-top: 50px;
}

#socmed-bar {
    width: 100vw;
    background-color: #454444;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

#socmed-left-bar {
    display: flex;
}

#fb {
    height: 20px;
    width: 30px;
    margin-left: 10px;

}

#in {
    height: 20px;
    width: 20px;
}

#yt {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#ig {
    height: 30px;
    width: 30px;
}


#hirenoriantext {
    color: white;
    font-size: 12px;
    margin-right: 20px;
}

#job-section {
      width: 100%;
      max-width: 1100px; 
      flex-direction: column;
      gap: 28px;
      align-items: center;
    }

 
    #job-top-section {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 28px;
      flex-wrap: wrap; 
      padding: 12px;
    }

    .job-numbers {
      width: 300px;           
      background: white;
      border-radius: 10px;
      box-shadow: 0 6px 18px rgba(30,30,30,0.08);
      padding: 18px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;      
    }

    
    .job-titles {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 12px;
      color: #151515;
      padding-left: 4px; 
    }

    .job-image {
      width: 100%;
      height: 190px;
      object-fit: cover;
      border-radius: 8px;
      display: block;
      margin-bottom: 14px;
      border: 1px solid rgba(0,0,0,0.05);
    }

    .job-infos {
      font-size: 13px;
      color: #666;
      line-height: 1.5;
      margin-bottom: 16px;
      padding-left: 4px; 
    }

   
    #job-bottom-section {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    #more-button {
      padding: 8px 22px;
      border-radius: 20px;
      border: 1px solid #111;
      background: #fff;
      cursor: pointer;
      font-weight: 600;
      transition: all 160ms ease;
    }

    #more-button:hover {
      background: #111;
      color: #fff;
    }