* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 260px 1fr;
  background: #f6f6f6;
  min-height: 100vh;
  color: #333;
}

#student-dashboard-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #730000;
    overflow-y: auto;   
}

#student-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}

#student-profile-image {
    height: 200px;
    width: 200px;
    border-radius: 60%;
    
}

#student-profile-name {
    color: white;
    font-size: 29px;
    font-weight: 500;
    margin-top: 15px;
}

#sidebar-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

#sidebar-menu-button-dashboard {
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px 20px;
    
}

#menu-texts-dashboard {
    color: #730000;
    font-size: 21px;
    font-weight: 300;
    margin-left: 10px;
}

.sidebar-menu-buttons {
    display: flex;
    align-items: center;
    color: #730000;
    margin-top: 60px;
    border-radius: 20px;
    padding: 10px 20px;
}

.sidebar-button-icons {
    height: 30px;
    width: 30px;
}

.menu-texts {
    color: white;
    font-size: 21px;
    font-weight: 300;
    margin-left: 10px;
}

#dashboard-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard-title {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 33px;
    font-weight: 600;
}

#yellow-welcome-banner {
    height: 50%;
    width: 95%;
    display: flex;
    background-color: #FFBD00;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
}

#welcome-texts {
    display: flex;
    flex-direction: column;
}

#hi-text {
    font-size: 28px;
    color: white;
    margin-top: 30px;
    margin-left: 30px;
}

#check-job-text {
    font-size: 50px;
    color: white;
    margin-left: 30px;
    margin-top: 20px;
}


#college-girl-container {
    width: 280px;
    height: 290px;
    overflow: hidden;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    right: 65px;
}

#college-girl-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* keeps it nice & filled */
    display: block;

}
